<a href="https://colab.research.google.com/github/SteakFisher/contactBook/blob/main/exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("Enter your name:")
print("Hello", name)

Enter your name:jaeden
Hello jaeden

In [ ]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
print("Sum:",a+b+c)

Enter first number:5
Enter second number:2
Enter third number:7
Sum: 14

In [ ]:
n=int(input("Enter a three digit number:"))
a=n%10
b=(n//10)%10
c=n//100
res=(a**3)+(b**3)+(c**3)
print("Result:",res)

Enter a three digit number:432
Result: 99

In [ ]:
str=input("Enter a string:")
print("Length:",len(str))
print(str.split())
''' len() display no. of characters in the string
split() splits the entered string by the delimiter given in the argument'''

Enter a string:My name is Jaeden
Length: 17
['My', 'name', 'is', 'Jaeden']

In [ ]:
print("Enter 1st complex number...")
a=int(input("Enter real part:"))
b=int(input("Enter imaginary part:"))
print("Enter 2nd complex number...")
c=int(input("Enter real part:"))
d=int(input("Enter imaginary part:"))
c1=complex(a,b)
c2=complex(c,d)
print("Sum:",c1+c2)

Enter 1st complex number...
Enter real part:5
Enter imaginary part:3
Enter 2nd complex number...
Enter real part:4
Enter imaginary part:7
Sum: (9+10j)

In [ ]:
a=int(input("Enter value of a:"))
b=int(input("Enter value of b:"))
c=a
a=b
b=c
print("After swapping...")
print("a:",a)
print("b:",b)

Enter value of a:7
Enter value of b:2
After swapping...
a: 2
b: 7

In [ ]:
p=float(input("Enter principal amount:"))
r=float(input("Enter rate:"))
t=float(input("Enter time:"))
print("Simple interest:",(p*r*t)/100)

Enter principal amount:5000
Enter rate:6.5
Enter time:2
Simple interest: 650.0

In [ ]:
p=int(input("Enter initial principal balance:"))
r=float(input("Enter annual interest rate:"))
t=int(input("Enter no. of years:"))
n=int(input("Enter no. of times interest is compounded per year:"))
print("Compound interest:",p*(1+(r/n))**(n*t))

Enter initial principal balance:1000
Enter annual interest rate:0.04
Enter no. of years:3
Enter no. of times interest is compounded per year:4
Compound interest: 1126.8250301319697

In [ ]:
print("    *  ")
print("   *** ")
print("  *****")
print(" *******")
print("*********")

    *
   ***
  *****
 *******
*********

In [ ]:
sal=int(input("Enter basic salary:"))
da=0.1*sal
hra=0.15*sal
print("Gross salary:",sal+da+hra)

Enter basic salary:3000
Gross salary: 3750.0